#education .card {
  border-left: 5px solid var(--primary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
  color: var(--primary-color);
}

#education .card:hover {
  transform: translateX(10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
